<div>
    <h1>Checkout</h1>
    <p>Thanks for your purchase <span>{{client}}</span>! Number order: <span> {{numTicket}} </span> </p>
    <p> We will send an email to <span> {{email}} </span> with the order information </p>
     <div class="grupo-btn">
        <a class="btnMios noSub" href="/products">E-commerce</a>
        <a class="btnMios noSub" href="/api/users/profile">My Profile</a>
    </div>
</div>