<h1 class="main-title">Musical Instruments</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each products}}
    <div class="col">
        <div class="card">
            <img src={{this.thumbnail}} class="card-img-top w-50" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.description}}</p>
                <p>Precio: {{this.price}} </p>
            </div>
        </div>
    </div>
    {{/each}}
</div>

